.articleBody_wrapper{
    background: #fff;
    justify-content:center;
    text-align:center;
    box-sizing:border-box;
    font-size: 16px;
}
.headerWrapper{
    padding-left:5px;
    padding-right:5px;
    border-top:1px solid #d0d0d0;
}
.teamCardWrapper{
    border-bottom: 0px;
    background: #fff;
    margin: 5px 5px 0 5px;
    display:flex;
    align-items: center;
    padding-left:15px;
}
.left{
    background-size: 100% !important;
    background-repeat: no-repeat !important;
    background-position: center center !important; 
    width:57px;
    height:50px;
    
}
.right{
    flex-grow: 1 ;
    padding-left: 10px;
    font-size: 15px;
    font-weight: 400;
}
.postDataWrapper{
    background-color: #fff ;
    margin: 5px 5px 0 5px;
    border-bottom: 1px solid #d0d0d0;
    padding-left:15px;
    
}
.date,.author{
    font-size: 15px;
    padding:5px 5px;
    font-weight:500;
}
.date{
    margin-bottom:-8px;
}
span{
    color:#808080;
    font-weight:400;
}
.articleBodyWrapper{
    padding-left:5px;
    padding-right:5px;
    margin: 5px 5px 0 5px;
    background:#fff;
    border-top:1px solid #d0d0d0;
}
.bodyTitle{
    padding:5px;
    font-size:25px;
    justify-content:center;
    text-align:center;
    background:#fff;
    margin: 5px 5px 0 5px;
}
.articleImage{
    width:100%;
    height:300px;
    background-size: 98% !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    margin-bottom:10px;
}
.bodyText{
    color:#505050;
    padding-left:15px;
    padding-right:10px;
    justify-content:center;
    padding-bottom:15px;
}   
.RelatedVideosWrapper h3{
    text-align:center
}